<h1>削除済みblogのindex</h1>
<%= link_to '下書き一覧', index_1_blogs_path %>|
<%= link_to '公開一覧', index_2_blogs_path %>|
<%= link_to '編集済み一覧', index_3_blogs_path %>|
<%= link_to '削除済み一覧', index_4_blogs_path %>|

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>