<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @blog.status %>
</p>
<% if @blog.status == 1 %>
  <%= form_for(@blog) do |f| %>
    <%= f.hidden_field :title %>
    <%= f.hidden_field :status %>
    <%= f.submit 'comfirm' %>
  <% end %>
<% end %>
<%= link_to 'Back', "/blogs/index_#{@blog.status.to_s}" %>
  
